.headtext{
	text-align: center;
}

.card{
	z-index: 1;
}
.card-text{
	text-align: center!important;
}
#terug{
	margin: 25px;
	height: 100px;
	width: 200px;
}
h1{
	top: 0;
	margin-top: -100px;
}
#pizzas{
	margin-top: 20px;
	text-align: center;
}
.pizzaimg{
	max-height:150px;
}